.summary_main {
  background-color: #ececec;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 3px;
  padding: 14px;
}

.summary_heading {
  padding-top: 40px;
}

.horizontal_line {
  border-bottom: 0.4px solid #00000038;
  margin-top: 40px;
  margin-bottom: 45px;
}

.summary_item_info,
.summary_vat_info,
.summary_total_info {
  padding-bottom: 30px;
}
